.sidebar {
  padding: 70px 45px 0 0;
  flex-shrink: 0;

  &__list {
    @include list-reset;

    display: grid;
    row-gap: 10px;

    &--category {
      padding-bottom: 15px;
      border-bottom: 1px solid var(--gray-light);
      margin-bottom: 45px;
    }

    &--brand {
      row-gap: 10px;
    }
  }

  &__dropdown {

    & > summary {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & svg {
        color: #828282;
        opacity: .7;
        transition: color .2s ease-in-out, transform .1s ease-in-out;
      }
    }

    &[open] {
      & > summary {
        & svg {
          opacity: 1;
          transform: rotate(90deg);
        }
      }
    }

    & > ul {
      @include list-reset;

      display: grid;
      row-gap: 8px;
      padding: 10px 0 0 15px;

      & .sidebar__dropdown {
        & a {
          text-transform: lowercase;
        }
      }
    }
  }

  &__link {
    color: #828282;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;

    &--active {
      color: var(--black-90);
    }

    @media (hover: hover) {
      &:hover {
        opacity: .8;
      }
    }

    @media (hover: none) {
      &:active {
        opacity: .8;
      }
    }

  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black-90);
    margin-bottom: 20px;
  }
}
