.header-search {
  position: relative;
  width: 100%;

  &--visible {
    & .header-search__wrap {
      display: block;
      @include anim(fade-down, .4s);
    }
  }

  &__wrap {
    position: fixed;
    top: var(--offset-top, 0);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: -1;
    overflow-y: auto;
    overscroll-behavior: none;
    // box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);

    @include media-min ($lg) {}
  }

  &__top {
    padding: 20px 0;
    background-color: var(--white);

    @include media-min ($lg) {
      padding: 30px 0;
    }
  }


  &__cont {
    display: grid;
    row-gap: 15px;


    @include media-min ($md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__input {
    position: relative;
    width: 100%;

    & input {
      background-color: var(--white);
      border: none;
      border-bottom: 1px solid var(--gray-light);
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: var(--black-90);
      padding: 0 0 8px;

      &:focus-visible {
        border-color: var(--green);
        box-shadow: none;
      }

      &:not(:placeholder-shown) {
        & + .header-search__btns > .header-search__btn--search {
          display: none;
        }

        & + .header-search__btns > .header-search__btn--close {
          display: flex;
        }
      }

      @include media-min ($lg) {
        font-size: 16px;
        padding-bottom: 12px;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 0;

  }

  &__btn {
    @include btn-reset;

    display: flex;

    &--search {
      background-size: 100%;
      background-position: center;

      color: #ACACAC;


      & svg {
        @include media-min ($lg) {
          width: 24px;
          height: 24px;
        }
      }
    }

    &--close {
      display: none;

      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      margin-top: 2px;

      color: #191919;

      & svg {
        @include media-min ($lg) {
          width: 19px;
          height: 19px;
        }
      }
    }
  }


  &__bottom {
    background-color: var(--white);
    padding-bottom: 20px;
  }

  &__results {
    display: grid;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 16px;
    margin-bottom: 30px;


    @include media-min ($lg) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 16px;
      row-gap: 30px;
      margin-bottom: 48px;
    }
  }

  &__link.btn {
    margin: 0 auto;
    max-width: 300px;
  }

}
