.language {
  @include btn-reset;

  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black-90);

  &--lg {
    width: 2ch;
    overflow: hidden;
    white-space: nowrap;
  }
}
