.contacts {
  &__cont {
    margin-bottom: 72px;

    @include media-min ($lg) {
      margin-bottom: 48px;
    }
  }

  &__map {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    height: 100%;

    & img {
      height: 100%;
    }
  }
}
