.wedding-hero {
  position: relative;
  background-image: url('../img/img-wedding-dresses.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 428px;

  @include media-min ($lg) {
    padding-bottom: 570px;
  }

  &__title {
    position: absolute;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--white);
    max-width: 290px;
    bottom: 90px;

    @include media-min ($lg) {
      font-size: 48px;
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
