.wedding-intro {
  padding: 60px 0;

  @include media-min ($lg) {
    padding-top: 100px;
  }

  &__inner {
    display: grid;
    align-items: flex-start;
    row-gap: 24px;

    @include media-min ($xl) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 58px;
    }
  }

  &__title {
    justify-self: flex-start;
    justify-content: flex-start;
    display: grid;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--purple);
    max-width: 290px;

    @include media-min ($md) {
      align-self: flex-start;
      max-width: 570px;
      width: 100%;
    }

    @include media-min ($lg) {
      font-size: 48px;
    }

    & > div {
      width: 50%;

      @include media-min ($md) {
        width: 100%;
      }
    }

    & > span {
      justify-self: flex-end;
      font-weight: 700;
      width: 50%;

      @include media-min ($md) {
        padding-left: 50px;
        width: 100%;
        white-space: nowrap;
      }

      @include media-min ($lg) {
        padding-left: 70px;
        width: 100%;
      }
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    display: grid;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.6;
    opacity: 0.64;
    text-transform: uppercase;
    color: #6c8377;
    margin-bottom: 32px;
    justify-items: flex-end;

    @include media-min ($lg) {
      font-size: 48px;
    }

    @include media-min ($xl) {
      margin-bottom: 0;
      margin-top: 32px;
      max-width: 460px;
      order: 1;
      margin-left: auto;
    }

    & > span {
      margin-right: 40px;

      @include media-min ($lg) {
        margin-right: 100px;
      }
    }

    & div > span {
      font-size: 55px;
      -webkit-font-feature-settings: "normal";
      -moz-font-feature-settings: "normal";
      font-feature-settings: "normal";
      font-variant-numeric: oldstyle-nums;

      @include media-min ($lg) {
        font-size: 96px;
      }
    }
  }

  &__descr {
    grid-column-start: 1;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    color: var(--black-90);

    span {
      font-weight: 400;
      text-transform: uppercase;
      color: var(--purple);
    }
  }
}
