.product {
  position: relative;
  border: 1px solid transparent;
  padding: 3px;
  transition: opacity .2s ease-in-out;
  height: min-content;

  @include media-min ($xl) {
    border-width: 2px;
    padding: 10px;
  }

  @media (hover: hover) {
    &:hover {
      opacity: .8;
    }
  }

  @media (hover: none) {
    &:active {
      opacity: .8;
    }
  }

  &--out-stock {
    --color-prodoct: #828282;
    --color-prodoct-category: #828282;
    --color-prodoct-price: #828282;
  }

  &[data-discount] {
    --color-prodoct: var(--purple);
    --color-prodoct-price: var(--purple);

    &::before {
      content: '-'attr(data-discount)'%';
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 3px;
      background-color: var(--purple);
      width: 40px;
      height: 40px;
      pointer-events: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      color: var(--white);

      @include media-min ($xl) {
        top: 10px;
        left: 10px;
      }
    }

  }

  &--border {
    --color-prodoct: var(--purple);

    border-color: var(--purple);
    padding: 3px;

    @include media-min ($xl) {
      padding: 10px;
    }
  }

  &__cont {
    position: relative;
  }

  &__img {
    position: relative;
    padding-bottom: 129%;
    margin-bottom: 20px;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    @include indent-reset;

    color: var(--color-prodoct, var(--green));
    font-size: 12px;
    margin-bottom: 8px;

    @include media-min ($lg) {
      font-size: 14px;
    }

    & > a {
      color: inherit;
      font-size: inherit;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 12px;

    @include media-min ($md) {
      flex-direction: row;
      align-items: flex-end;

    }

  }

  &__detail {
    display: flex;
    flex-shrink: 0;
    margin-bottom: 8px;
    flex-wrap: wrap;

    @include media-min ($md) {
      margin-bottom: 0;
      margin-right: auto;
    }
  }


  &__category {
    margin-right: 10px;
    color: var(--color-prodoct-category, var(--black-90));
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-prodoct-price, var(--black-90));

    @include media-min ($md) {
      justify-content: flex-start;
    }

    del,
    span {
      flex-shrink: 0;
    }

    del {
      color: #bdbdbd;
      margin-right: 10px;
    }

  }

  &__note {
    & span {
      font-weight: 400;
      font-size: 10px;
      text-align: center;
      color: var(--color-prodoct, var(--purple));
      border: 1px solid var(--color-prodoct, var(--purple));
      padding: 3px 5px;

      @include media-min ($md) {
        padding: 5px 8px;
      }
    }
  }
}
