.products {
  position: relative;
  padding: 35px 0 60px;

  @include media-min ($lg) {
    padding: 60px 0 100px;
  }

  &--background-image {
    &::after {
      position: absolute;
      background-image: url('../img/img-bg-bestsellers.svg');
      background-repeat: no-repeat;
      background-size: auto 100%;

      top: 94px;
      left: 0;
      width: 100%;
      height: 200px;

      @include media-min ($md) {
        content: '';
      }
    }
  }

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--black-90);

    margin-bottom: 24px;

    @include media-min ($lg) {
      font-size: 36px;

      margin-bottom: 48px;
    }

    &--large {
      font-size: 36px;
      color: var(--green);

      @include media-min ($lg) {
        font-size: 48px;
      }
    }
  }

  &__list {
    @include list-reset;

    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 40px;

    @include media-min ($lg) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 12px;
    }
  }

  &__link {
    margin-bottom: 48px;
    display: inline-flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--green);

    @include media-min ($lg) {
      display: none;
    }

    & > svg {
      margin-left: 23px;
    }
  }
}
