.order-summary {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 50px;
  width: 100%;
  max-width: 330px;

  @include media-min ($lg) {
    border-top: 1px solid var(--gray-light);
    position: sticky;
    top: calc(var(--offset-top) + 24px);
    width: 330px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--lg {

      & .order-summary__label,
      & .order-summary__value {
        font-family: $alt-font, Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: var(--black-90);
      }
    }

    &--sum {
      padding: 24px 0;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #4f4f4f;
  }

  &__value {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black-90);
    flex-shrink: 0;
  }

  &__delivery {
    font-size: 14px;
    line-height: 1.7;
    color: var(--black-90);
    padding-bottom: 24px;

    & > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__form {
    --main-form-color: var(--purple);

    display: flex;
    max-width: 360px;
  }

  &__form-input {
    background-color: #f5f5f5;
    border: none;
    padding: 18px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--main-form-color);

    &::placeholder {
      font-weight: 300;
      color: #d5d2d2;
    }

    &:focus-visible {
      box-shadow: none;
      border-color: var(--main-form-color);
    }
  }

  & .form-btn {
    padding: 20px 0;
  }

  &__btn {
    margin: 32px auto;

    @include media-min ($lg) {
      margin-bottom: 32px;
    }
  }

  &__info {
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--green);

  }
}
