.location {
  padding: 20px 15px;
  display: grid;
  row-gap: 30px;
  border: 1px solid var(--gray-light);

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black-90);
    margin-right: 20px;
  }

  &__btn {
    @include btn-reset;

    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--green);
  }

  &__address {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--black-90);
  }

  &__subtitle {
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--black-90);
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-weight: 300;
    font-size: 12px;
    color: var(--black-90);
    margin-right: 15px;
    word-wrap: none;

    &:last-child {
      margin-right: 0;
    }
  }
}
