.order {

  &__list {
    @include list-reset;
    max-width: 330px;
  }

  & .page__section {
    @include media-min ($lg) {
      max-width: 680px;
    }
  }

  & .page__aside {
    display: none;
    margin-top: 80px;

    @include media-min ($lg) {
      display: block;
    }
  }
}

.order-form {

  &__top {
    display: grid;
    row-gap: 30px;
    align-content: flex-start;
    margin-bottom: 60px;
  }


  & [data-jtabs="order-form-tabs"] {}

  & [data-jtabs="nav"] {
    @include list-reset;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    border-bottom: 1px solid var(--gray-light);

  }

  & [data-jtabs="control"] {
    @include btn-reset;

    position: relative;

    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--green);


    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;

    @include media-min ($lg) {
      font-size: 14px;
      padding: 18px;
    }


    &.is-selected {
      color: var(--black-90);

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;

        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--black-90);
        border-radius: 2px;
      }
    }
  }

  &__cont {
    display: grid;
    row-gap: 60px;

    padding: 60px 0;
  }

  &__map {
    margin-bottom: 20px;
    max-height: 520px;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__bottom {
    display: grid;
    row-gap: 30px;
  }

  &__section {
    display: grid;
    row-gap: 30px;
    align-content: flex-start;
  }

  &__list-radio {
    @include list-reset;
    display: grid;
    row-gap: 10px;
  }

  &__delivery {
    border-top: 2px solid var(--green);
    margin-top: 60px;
    padding-top: 60px;

    @include media-min ($md) {
      margin-top: 30px;
      padding-top: 40px;
    }
  }

  &__delivery-title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--green);

    font-family: $alt-font, Arial, Helvetica, sans-serif;

    margin-bottom: 50px;
  }

  &__delivery-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__detail {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    width: 100%;

    &:nth-child(odd) {
      @include media-min ($md) {
        flex-basis: 55%;
      }
    }

    &:nth-child(even) {
      @include media-min ($md) {
        flex-basis: 35%;
      }
    }

    & dt {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--black-90);
    }

    & dd {
      font-weight: 400;
      font-size: 14px;
      color: var(--black-90);
      flex-shrink: 0;
    }
  }

  &__total {
    @include media-min ($lg) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__total-amount {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--black-90);

    font-family: $alt-font, Arial, Helvetica, sans-serif;

    margin-bottom: 60px;


    display: flex;
    justify-content: space-between;

    @include media-min ($lg) {
      margin-bottom: 0;

      flex-basis: 50%;
      width: 50%;
      justify-content: flex-end;
      align-items: center;

      & span {
        margin-left: 16px;
      }
    }
  }

  &__btn {
    @include btn-reset;

    width: 100%;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    background: var(--black-90);
    padding: 20px 0;

    @include media-min ($lg) {
      flex-basis: 50%;
      width: 50%;
    }
  }
}
