.order {

  &__form {
    display: grid;
    row-gap: 60px;
  }

  &__list {
    @include list-reset;
    max-width: 330px;

    position: sticky;
    top: calc(var(--offset-top) + 24px);

    &--row {
      max-width: 100%;

      display: grid;

      @include media-min ($md) {
        grid-template-columns: repeat(2, 1fr);

        column-gap: 48px;
      }

      @include media-min ($lg) {
        grid-template-columns: repeat(3, 1fr);
      }

      & .basket-product__cont {
        padding-right: 0;
      }

    }
  }

  & .page__section {
    @include media-min ($lg) {
      max-width: 680px;
    }
  }

  & .page__aside {
    display: none;
    margin-top: 80px;

    @include media-min ($lg) {
      display: block;
    }
  }
}


.order-fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &__cont {
    display: grid;
    row-gap: 30px;
  }
}


.order-result {
  &__total {
    display: grid;
    row-gap: 60px;


    @include media-min ($md) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: column;
      align-items: flex-start;
      column-gap: 30px;
    }
  }

  &__total-amount {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--black-90);

    font-family: $alt-font, Arial, Helvetica, sans-serif;

    display: flex;
    justify-self: flex-start;

    @include media-min ($md) {
      grid-column: 2 / 3;
      margin-bottom: 0;

      justify-self: flex-end;
      align-items: center;
    }

    & span {
      margin-left: 24px;
    }
  }

  &__btn {
    @include btn-reset;

    width: 100%;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    background: var(--black-90);
    padding: 20px 0;

    @include media-min ($lg) {
      flex-basis: 50%;
      width: 50%;
    }
  }
}
