.order {

  &__form {
    display: grid;
    row-gap: 60px;
  }

  &__list {
    @include list-reset;
    max-width: 330px;
  }

  & .page__section {
    @include media-min ($lg) {
      max-width: 680px;
    }
  }

  & .page__aside {
    display: none;
    margin-top: 80px;

    @include media-min ($lg) {
      display: block;
    }
  }
}


.order-fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &__cont {
    display: grid;
    row-gap: 30px;
  }
}


.order-result {
  &__total {
    @include media-min ($lg) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__total-amount {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--black-90);

    font-family: $alt-font, Arial, Helvetica, sans-serif;

    margin-bottom: 60px;


    display: flex;
    justify-content: space-between;

    @include media-min ($lg) {
      margin-bottom: 0;

      flex-basis: 50%;
      width: 50%;
      justify-content: flex-end;
      align-items: center;

      & span {
        margin-left: 16px;
      }
    }
  }

  &__btn {
    @include btn-reset;

    width: 100%;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    background: var(--black-90);
    padding: 20px 0;

    @include media-min ($lg) {
      flex-basis: 50%;
      width: 50%;
    }
  }
}
