.accordions {
  border-bottom: 1px solid var(--gray-light);
}

.accordion {
  --item-color: var(--black-90);

  padding: 20px 0;

  border-top: 1px solid var(--gray-light);



  &[open] {
    --item-color: var(--purple);
    --after-item-cross-rotate: 45deg;
    --before-item-cross-opacity: 0;
    --before-item-cross-rotate: 225deg;
  }

  &:hover {
    --item-color: var(--purple);
  }


  &__title {
    list-style: none;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--item-color);

    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;

    transition: color .3s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--item-color);

      transition: background-color .3s ease-in-out, transform .3s ease-in-out;
    }

    &::before {
      width: 16px;
      height: 2px;
      right: 6px;
      top: 7px;

      transform: rotate(var(--before-item-cross-rotate, 0));
    }

    &::after {
      width: 2px;
      height: 16px;
      right: 13px;
      top: 0;

      transform: rotate(var(--after-item-cross-rotate, 0));
    }

    &--icon-reverse {
      @include media-max ($lg) {
        padding-left: 32px;

        &::before {
          right: none;
          left: 1px;
        }

        &::after {
          right: none;
          left: 8px;
        }
      }
    }
  }

  &__cont {
    padding: 20px 0 0;

    & > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
