.breadcrumbs {
  display: none;

  color: var(--accent);
  background-color: transparent;

  padding-top: 48px;

  & a {
    color: inherit;
    text-decoration-color: transparent;
  }

  @include media-min ($lg) {
    display: block;

    & a {
      transition: color .2s ease-in-out, text-decoration-color .2s ease-in-out;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }

  & .current-item {
    color: #4f4f4f;
  }
}
