.breadcrumbs {
  color: var(--accent);
  background-color: transparent;
  padding-top: 48px;

  &--absolute {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  & a {
    color: inherit;
    text-decoration-color: transparent;
    transition: color .2s ease-in-out,
      text-decoration-color .2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        text-decoration-color: var(--accent);
      }
    }

    @media (hover: none) {
      &:active {
        text-decoration-color: var(--accent);
      }
    }
  }

  & .current-item {
    color: #4f4f4f;
  }
}
