.btn {
  @include btn-reset;


  padding: 20px;
  width: 100%;
  max-width: 400px;


  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;

  //
  // justify-content: center;
  // align-items: center;
  // padding: var(--btn-offset, var(--btn-offset-vertical, 14px) var(--btn-offset-horizontal, 26px));
  // color: var(--btn-text);
  // background-color: var(--btn-bg);
  // text-decoration: none;

  &--icon-reverse {
    & svg {
      margin-right: 0;
      margin-left: 12px;
    }
  }

  &--view {
    @include set-font(15px, 1.3, 400);

    color: var(--btn-text);
    letter-spacing: 0.1em;
    font-size: 15px;
    text-transform: uppercase;

    display: inline-flex;
    align-items: center;
    text-align: center;
  }

  &--dark {
    background-color: var(--black-90);
    color: var(--white);

    @media (nover: hover) {
      &:hover {
        background-color: var(--purple);
      }
    }

    @media (nover: none) {
      &:active {
        background-color: var(--purple);
      }
    }

  }

  &--white {}

  &--purple {
    background-color: rgba(120, 0, 62, .1);
    color: var(--purple);
  }
}

.flatpickr-clear-button {
  font-weight: 400;
  font-size: 14px;
  color: var(--green);
  padding: 20px;
  border-top: 1px solid var(--gray-light);
  margin: 0 10px;
}
