.btn {
  @include btn-reset;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  transition: opacity .2s ease-in-out,
    background-color .2s ease-in-out,
    color .2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      opacity: .8;
    }
  }

  @media (hover: none) {
    &:active {
      opacity: .8;
    }
  }

  &--icon-reverse {
    & svg {
      margin-right: 0;
      margin-left: 12px;
    }
  }

  &--view {
    @include set-font(15px, 1.3, 400);

    color: var(--btn-text);
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    align-items: center;
    text-align: center;
  }

  &--dark {
    padding: 20px;
    background-color: var(--black-90);
    color: var(--white);
    width: 100%;
    max-width: 400px;

    @media (hover: hover) {
      &:hover {
        background-color: var(--purple);
        opacity: 1;
      }
    }

    @media (hover: none) {
      &:active {
        background-color: var(--purple);
        opacity: 1;
      }
    }
  }

  &--white {
    padding: 20px;
    background: var(--white);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--black-90);
    max-width: 240px;
    width: 100%;
  }

  &--light-purple {
    padding: 20px;
    background-color: rgba(120, 0, 62, .1);
    color: var(--purple);
    width: 100%;
    max-width: 400px;
  }

  &--dark-purple {
    padding: 20px;
    background-color: var(--purple);
    color: var(--white);
    width: 100%;
    max-width: 400px;
  }

  &--gray {
    padding: 20px;
    background-color: rgba(25, 25, 25, 0.1);
    color: var(--black-90);
    width: 100%;
    max-width: 400px;
  }
}

.flatpickr-clear-button {
  font-weight: 400;
  font-size: 14px;
  color: var(--green);
  padding: 20px;
  border-top: 1px solid var(--gray-light);
  margin: 0 10px;
}
