.help-block {
  position: sticky;
  top: calc(var(--offset-top) + 25px);
  display: grid;
  justify-items: center;
  align-items: flex-start;
  padding: 32px;
  background-color: #f2f2f2;
  margin: 0 auto;

  @include media-max ($lg) {
    max-width: 500px;
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--black-90);
    margin-bottom: 32px;
  }

  &__text {
    @include indent-reset;

    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: var(--black-90);
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 320px;
  }

  &__btn {
    margin-top: 40px;
  }
}
