.media {
  &__title {
    margin-bottom: 48px;

    @include media-min ($lg) {
      margin-bottom: 64px;
    }
  }

  &__list {
    @include list-reset;
    min-height: 100vh;
    opacity: 0;

    display: grid;
    column-gap: 32px;
    row-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 0;
    align-items: flex-start;
    justify-content: center;

    transition: opacity .5s ease-in-out;

    &.is-visible {
      opacity: 1;
    }
  }

  &__list-item {
    display: inline-block;
  }

  &__item {
    position: relative;

    text-align: center;

    transition: opacity .3s ease-in-out;

    @include media-min ($md) {
      text-align: start;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__img {
    margin-bottom: 20px;

    @include media-min ($lg) {
      margin-bottom: 28px;
    }

    & img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 300px;

    font-size: 24px;
    text-transform: uppercase;
    color: var(--black-90);
    margin-bottom: 24px;

    & a {
      font-size: inherit;
      color: inherit;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__descr {
    @include indent-reset;

    width: 100%;
    max-width: 300px;

    font-size: 16px;
    color: #4f4f4f;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
  }


  &__link {
    font-size: 14px;
    text-decoration: underline;
    color: var(--purple);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
