.modal {
  --modal-icon-color: var(--white);
  --modal-bg: var(--green);
  position: relative;
  margin: 0 auto;
  padding: 24px 90px;
  width: 100%;
  max-width: 540px;
  color: var(--modal-text, var(--main-text));
  background-color: var(--modal-bg, var(--main-bg));

  &--sizes {
    --modal-icon-color: #bdbdbd;
    --modal-bg: var(--white);
    padding: 32px 10px;
    max-width: 740px;

    @include media-min ($lg) {
      padding: 48px 48px 32px;
    }

    & .modal__close {
      top: 10px;
      right: 10px;

      @include media-min ($lg) {
        top: 24px;
        right: 24px;
      }

      @media (hover: hover) {
        &:hover {
          --modal-icon-color: var(--green);
        }
      }

      @media (hover: none) {
        &:active {
          --modal-icon-color: var(--green);
        }
      }
    }
  }

  &--discount {
    padding: 0;
    max-width: 460px;
  }

  &__close {
    @include btn-reset;

    position: absolute;
    z-index: 1;
    top: 14px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--modal-icon-size, var(--modal-icon-width, 15px));
    height: var(--smodal-icon-size, var(--modal-icon-height, 15px));
    color: var(--modal-icon-color, currentColor);

    transition: color .2s ease-in-out;
  }
}

.modal-size {


  &__title {
    font-size: 24px;
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include media-min ($lg) {
      font-size: 36px;
    }
  }

  &__table {
    --main-size-text: 10px;

    width: 100%;
    border-collapse: collapse;

    @include media-min ($md) {
      --main-size-text: 14px;
    }

    & th {
      border-bottom: 1px solid var(--gray-light);
      text-align: center;
      font-weight: 400;
      font-size: var(--main-size-text);
      text-transform: uppercase;
      color: var(--black-90);

      padding-bottom: 12px;

    }



    & td {
      text-align: center;
      font-weight: 400;
      font-size: var(--main-size-text);
      text-transform: uppercase;
      color: var(--black-90);

      padding: 12px 0;
      width: 127px;
    }
  }
}


.modal-callback {
  display: flex;


  & > div {
    width: 100%;
    max-width: 358px;
  }

  &__title {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);


    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__form {
    display: grid;
    row-gap: 10px;
    margin-bottom: 24px;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
  }

  &__btn {
    background-color: var(--purple);
    padding: 16px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
  }

  &__policy {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--white);
    max-width: 250px;
    text-align: center;
    margin: 0 auto;

    & a {
      color: inherit;
      font-size: inherit;
      text-decoration: underline;
    }
  }
}

.modal-discount {
  &__img {
    position: relative;
    height: 0;
    padding-bottom: 280px;

    @include media-min ($lg) {
      padding-bottom: 240px;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    padding: 30px 24px 20px;

    display: grid;
    row-gap: 20px;

    @include media-min ($lg) {
      row-gap: 24px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

  }

  &__form {


    @include media-min ($lg) {
      display: flex;
    }
  }

  &__input {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 14px 10px;
    color: var(--white);

    &::placeholder {
      color: #bdbdbd;
    }

    @include media-min ($lg) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &__btn {
    background-color: var(--purple);
    padding: 16px;
    width: 100%;

    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    @include media-min ($lg) {
      max-width: 140px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    color: var(--white);

    max-width: 350px;
    margin: 0 auto;

    @include media-min ($lg) {
      font-size: 12px;
    }
  }
}
