.promo-code {
  padding: 4px;

  @include media-min ($md) {}

  @include media-min ($xl) {
    padding: 12px;

  }

  // &__inner {
  //   position: relative;
  //   max-height: 288px;
  //   height: 100%;

  //   @include media-min ($xl) {
  //     max-height: 100%;
  //   }
  // }

  &__cont {
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 288px;

    @include media-min ($md) {
      min-height: 80%;
    }

    @include media-min ($lg) {
      min-height: 80%;
    }

    @include media-min ($xl) {
      min-height: 85%;
    }
  }

  &__grid {
    display: grid;
    justify-content: center;
    padding: 20px 0;
  }

  &__name {
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 3px 10px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-self: center;

    @include media-min ($xxl) {
      margin-bottom: 60px;
    }
  }

  &__code {
    background: var(--purple);
    padding: 0 10px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-bottom: 16px;

    @include media-min ($lg) {
      font-size: 34px;
      margin-bottom: 32px;
    }
  }

  &__discount {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: var(--white);
    max-width: 190px;
    margin-bottom: 16px;

    @include media-min ($xxl) {
      font-size: 14px;
      margin-bottom: 80px;
    }
  }

  &__period {
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: var(--white);
  }

}
