.about {
  padding-bottom: 0;

  &__descr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--black-90);
    margin-bottom: 72px;

    @include media-min ($lg) {
      width: 50%;
    }
  }

  &__subtitle {
    padding: 72px 0 40px;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--green);
    display: grid;

    @include media-min ($md) {
      padding-bottom: 150px;
      padding-top: 0;
    }


    & span {
      margin-top: -30px;
      display: inline-block;
      font-weight: 300;
      font-size: 96px;
      color: var(--purple);
      -webkit-font-feature-settings: "normal";
      -moz-font-feature-settings: "normal";
      font-feature-settings: "normal";
      font-variant-numeric: oldstyle-nums;
    }
  }

  &__subtitle-bottom {
    @include media-min ($lg) {
      justify-self: flex-end;
      margin-right: 148px;
    }
  }

}
