.about-second {
  background-image: linear-gradient(to bottom, var(--purple) 100%, var(--white) 100%);

  @include media-min ($lg) {
    background-image: linear-gradient(to bottom, var(--purple) 70%, var(--white) 70%);
  }

  &__cont {
    @include media-min ($lg) {
      display: grid;
      grid-template-columns: .6fr 1fr;
      column-gap: 60px;
    }
  }

  &__info {
    padding: 20px 0 54px;

    @include media-min ($lg) {
      padding: 70px 0 0;
    }
  }

  &__label {
    max-width: 76px;
    width: 100%;
    margin-bottom: 40px;

    @include media-min ($md) {
      max-width: 170px;
      margin-bottom: 114px;
    }
  }


  &__imgs {
    margin-bottom: 37px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    row-gap: 22px;

    @include media-min ($lg) {
      grid-template-columns: 1fr .75fr;
      margin: 0;
      row-gap: 56px;
      column-gap: 60px;
      width: 100%;
      position: relative;
      top: -78px;
    }
  }

  &__img {
    &--first {
      & > div {
        padding-bottom: 133%;
        margin-bottom: 22px;

        @include media-min ($lg) {
          margin-bottom: 55px;
        }
      }
    }

    &--second {
      align-self: center;
      margin-top: 92px;
      grid-column-start: 2;

      @include media-min ($lg) {
        grid-row: 1;
        margin-top: 214px;
      }

      & > div {
        padding-bottom: 120%;

        @include media-min ($lg) {
          padding-bottom: 133%;
        }
      }
    }

    &--third {
      & > div {
        @include media-max ($lg) {
          padding-bottom: 90%;
          margin-left: 17px;

          & img {
            object-fit: cover;
          }
        }

        @include media-min ($lg) {
          padding-bottom: 76%;
        }
      }
    }

    & > div {
      height: 0;
      position: relative;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white);
    flex-shrink: 0;

    @include media-min ($md) {
      max-width: 410px;
      font-size: 18px;
    }

    & span {
      font-weight: 600;
    }
  }
}
