html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: var(--min-site-width);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: var(--accent);
  text-decoration-color: var(--link-line, transparent);
}

details {
  list-style: none;


  & summary {
    list-style-type: none;
    user-select: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
      /* Chrome */
    }
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.container {
  --max-width: 1232px;
  width: min(var(--max-width), 100% - var(--container-padding, 32px));
  margin: 0 auto;
  box-sizing: border-box;

  @include media-min ($lg) {
    --container-padding: 128px;
  }

}
